
/* ===========================
   0. Web Font
=========================== */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* ===========================
   1. Reset (기본 초기화)
=========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px; /* 기본 14px 기준 (rem 단위 사용 가능) */
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #fff;
    line-height: 1.5;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, span, em {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset, img {
    border: 0 none;
    vertical-align: top;
}
dl, ul, ol, menu, li {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:active,&:hover  {
        text-decoration: none;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
textarea {
    width: 100%;
    border: 0;
    padding: 0;
    font-size: 16px;
    padding: 16px;
    resize: none;
    border-radius: 10px;
    &::placeholder {
        font-size: 12px;
        letter-spacing: -0.5;
        color: #999;
    }
}

/* ===========================
   2. Typography
=========================== */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* ===========================
   3. Form Elements
=========================== */
button, input, select, textarea {
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    border: none;
    background: none;
    outline: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    background: #fff;
}

input:focus, textarea:focus {
    /*border-color: #888;*/
}

button {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    border: 0 none;
}

button:hover {
    background-color: #e0e0e0;
}

button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {
    -webkit-appearance: button;
    border-radius: 0;
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

::placeholder {
    position: relative;
    text-align: left;
    font-size: 12px;
    color: #999;
    z-index: 1;
}
:-ms-input-placeholder {
    color: var(--warmGrey-color);
}

/* ===========================
   4. Accessibility
=========================== */
.blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* ===========================
   5. Utility Classes
=========================== */
.margin {
    margin-top: var(--marginTop) !important;
    margin-bottom: var(--marginBottom) !important;
    margin-right: var(--marginRight) !important;
    margin-left: var(--marginLeft) !important;
}
.padding {
    padding-top: var(--paddingTop) !important;
    padding-bottom: var(--paddingBottom) !important;
    padding-right: var(--paddingRight) !important;
    padding-left: var(--paddingLeft) !important;
}

@for $i from 0 to 25 {
    .mgTop#{$i * 5}{
        margin-top: $i * 5px !important;
    }
    .mgLeft#{$i * 5}{
        margin-left: $i * 5px !important;
    }
    .mgRight#{$i * 5}{
        margin-right: $i * 5px !important;
    }
    .mgBottom#{$i * 5}{
        margin-bottom: $i * 5px !important;
    }

    .padTop#{$i * 5}{
        padding-top: $i * 5px !important;
    }
    .padLeft#{$i * 5}{
        padding-left: $i * 5px !important;
    }
    .padRight#{$i * 5}{
        padding-right: $i * 5px !important;
    }
    .padBottom#{$i * 5}{
        padding-bottom: $i * 5px !important;
    }
}


.hidden { display: none !important; }
.center {text-align: center !important;}
/* ===========================
   6. Container & Layout
=========================== */
#wrap {
    width: 100%;
    background: #F4F5F6;
}
.layout__header {
    &.header {
        position: fixed;
        width: 100%;
        height: 48px;
        background: #544FE4;
        z-index: 10;
    }
    .header__inner {
        position: fixed;
        left: calc(50% - 640px);
        display: flex;
        justify-content: space-between;
        width: 1280px;
        height: 48px;
        margin: 0 auto;
        background: #544FE4;
        z-index: 10;
        .header__logo {
            display: flex;
            padding: 13px 45px;
            gap: 12px;
            &-text {
                color: #fff;
            }
        }
        .header__user {
            display: flex;
            color: #fff;
            gap: 16px;
            align-items: center;
            &-info {
                display: flex;

                gap: 8px;
                .header__user-name {
                    font-weight: 700;
                }
                .header__user-branch {
                    font-weight: 500;
                }
            }
            .header__auth {
                display: flex;
                align-items: center;
                border-radius: 8px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%), #544FE4;
                height: 28px;
                padding: 0 10px;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: -0.12px;
            }
        }
    }
}

.gnb {
    position: fixed;
    top: 48px;
    left: calc(50% - 640px);
    height: 48px;
    width: 1280px;
    margin: 0 auto;
    background: #fff;
    z-index: 10;
    &.on {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 48px;
            width: 100%;
            height: 50px;
            background: #FAFAFA;
        }
        .gnb__item.active > .gnb__submenu {
            display: flex;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 40px;
        height: 48px;
        .gnb__item {
            position: relative;
            a {
                position: relative;
                display: flex;
                align-items: center;
                height: 48px;
                color: #757575;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: -1px;
                min-width: 65px;
            }
            &.active {
                > a {
                    color: #544FE4;
                    font-weight: 700;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        border-bottom: 2px solid #544FE4;
                        border-radius: 2px;

                    }
                }
                .gnb__submenu {
                    position: absolute;
                    display: none;
                    gap: 40px;
                    height: 50px;
                    .gnb__submenu-item {
                        &.active {
                            a {
                                color: #544FE4;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .gnb__submenu {
                display: none;
            }
        }
    }
}
.layout__main {
    width: 1280px;
    margin: 0 auto;
    padding: 0 0 40px;
    background: #F4F5F6;
    &.main {
        padding: 96px 0 40px;
    }
    .section {
        background: #FAFAFA;
        padding: 16px 28px 0;
    }
    .section-title {
        display: flex;
        gap: 12px;
        margin-bottom: 20px;
        &__heading {
            color: #202224;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.32px;
        }
        &__desc {
            color: #999;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: -1px;
            padding: 1px 0 0;
        }
    }
    .form-filters {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0 0 28px;

        .form-filter__group {
            display: flex;
            gap: 8px;
        }
        .form-filter {
            .form-filter__label {
                color: #666;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -0.12px;
                padding: 0 0 0 12px;
            }
        }
    }

    &.join {
        background: #FAFAFA;
        padding: 81px 0;
        .section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            padding: 0 40px;

            &-title {

                &__desc {
                    position: relative;
                    padding: 3px 0 0 10px;
                    &:before {
                        content: "*";
                        position: absolute;
                        left: 0;
                        top: 2px;
                        color: #544FE4;
                        font-size: 16px;
                    }
                }
            }

            &__notice {
                color: #999;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -1px;
            }
        }

        .form-fields {
            display: flex;
            flex-flow: wrap;
            padding: 0 40px;
            gap: 20px 8px;
            .form-field {
                width: 294px;
                display: flex;
                flex-flow: column;
                &.long-field {
                    width: 596px;
                }
                &__label {
                    position: relative;
                    display: inline-block;
                    color: #666;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: -0.26px;
                    margin-bottom: 7px;
                    &.required {
                        padding: 0 0 0 13px;
                        &::before {
                            content: "*";
                            position: absolute;
                            left: 3px;
                            top: 0;
                            font-size: 14px;
                            color: #544FE4;
                            font-weight: 200;
                        }
                    }
                    span {
                        color: #999;
                        font-size: 10px;
                        font-weight: 400;
                        letter-spacing: -0.2px;
                        margin-left: 15px;
                    }
                }

                &__input-wrap {
                    display: flex;
                    &.input-button {
                        input {
                            border-radius: 8px 0 0 8px;
                        }
                    }
                    input {
                        flex: 1;
                        height: 48px;
                        border-radius: 10px;
                        &::placeholder {
                            color: #666;
                            font-size: 13px;
                        }
                    }
                    .form-field__button {
                        display: block;
                        height: 48px;
                        width: 72px;
                        color: #544FE4;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: -0.28px;
                        background: rgba(84, 79, 228, 0.08);
                        border: 1px solid #EBEBEB;
                        padding: 0;
                        border-radius: 0 10px 10px 0;
                    }
                }

                &__hint {
                    color: #999;
                    font-size: 10px;
                    font-weight: 400;
                    letter-spacing: -0.1px;
                    line-height: 24px;
                    padding: 0 0 0 12px;

                    &.error {
                        color: #544FE4;
                    }
                }
            }
        }
    }

    .terms {
        margin-top: 64px;
        padding: 0 40px;
    }
}

.footer {
    background: #F4F5F6;
    padding: 0 0 24px;
    &__inner {
        display: flex;
        align-items: center;
        width: 1280px;
        margin: 0 auto;
        padding: 0 30px;

    }
    &__logo {
        display: flex;
        flex-flow: column;
        .logo-img {
            height: 32px;
        }
        span {
            color: rgba(0, 0, 0, 0.40);
            font-size: 12px;
            letter-spacing: -0.5px;
        }
    }
    &__info {
        margin-left: 80px;
        * {
            color: rgba(0, 0, 0, 0.40);
            font-size: 12px;
        }
        .footer__address {
            font-style: normal;
        }
        .footer__contact {
            display: flex;
            gap: 17px;
            margin-top: 12px;
            span + span {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -8px;
                    top: 3px;
                    width: 1px;
                    height: 13px;
                    background: rgba(0, 0, 0, 0.40);
                }
            }
        }
    }
    &__copyright {
        display: flex;
        flex: 1;
        justify-content: end;
        color: rgba(0, 0, 0, 0.40);
        font-size: 12px;
        margin-top: 28px;
    }

}