
.select-box {
  position: relative;
  width: 240px;
  cursor: pointer;
  user-select: none;
  &::after {
    content:"";
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    background: url(../img/ico_arrow_down.svg) no-repeat center;
    transition: 0.5s ease;
  }
  &.active {
    .select-box__selected {
      border-radius: 6px 6px 0 0;
    }
    &::after {
      transition: 0.5s ease;
      transform: rotate(-180deg);
    }
  }
  &__selected {
    display: block;
    height: 36px;
    padding: 7px 12px;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    background: #fff;
  }
  &__options {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #EBEBEB;
    background: #fff;
    border-radius: 0 0 6px 6px;
    max-height: 180px;
    overflow-y: auto;
    z-index: 10;
    box-sizing: content-box;
    padding-right: 0;
    display: none;

    &::-webkit-scrollbar {
      width: 8px;
      border-left: 1px solid #EBEBEB;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 10px;
      margin-right: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #a6a6a6;
    }

    a {
      display: block;
      padding: 6px 12px;
      color: #666;
      text-decoration: none;
      &:hover {
        background-color: #F8F8FE;
        color: #544FE4;
        font-weight: 500;
        letter-spacing: -0.28px;
      }
    }
  }
  &.active {
    .select-box__options {
      display: block;
    }
  }
  &__option {
    border-top: 1px solid #EBEBEB;
    &:first-child {
      border-top: 0 none;
    }
  }
}

.form-filter__field {
  position: relative;
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  .input-text {
    position: relative;
    width: 240px;
    height: 36px;
    background: transparent;
    font-size: 12px;
    letter-spacing: -0.12px;
    color: #333;
    z-index: 1;
  }
  &.datepicker {
    &::after {
      content: "";
      position: absolute;
      right: 8px;
      top: 8px;
      width: 20px;
      height: 20px;
      background: url(../img/ico_datepicker.svg) no-repeat center;
      z-index: 0;
    }
    &.active {
      border-radius: 8px 8px 0 0;
      input {
        border-radius: 8px 8px 0 0;
      }
    }
  }
}

.btn {
  min-width: 80px;
  height: 36px;
  padding: 0 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.28px;
  border-radius: 10px;
  background: #544FE4;
  &:hover {
    background: #544FE4;
  }
  &--small {
    min-width: 56px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid rgba(84, 79, 228, 0.20);
    background: #fff;
    color: #544FE4;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.24px;
    border-radius: 8px;
    &:hover {
      background: #fff;
    }
  }
}
.consult-status {
  background: #fff;
  padding: 24px 0 47px;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &__header {
    display: flex;
    padding: 0 0 0 40px;
    gap: 4px;
  }
  &__heading {
    color: #202224;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
  }
  &__count {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
  }
  &__actions {
    display: flex;
    gap: 4px;
    padding: 0 28px 0 0;
  }
  &__table {
    margin: 0 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.04);
    .table {
      &--list {
        width: 100%;
        border-collapse: collapse;
        thead {
          display: table;
          width: 100%;
          table-layout: fixed;
          th {
            color: #202224;
            background: #FAFAFA;
            height: 32px;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: -0.24px;
            .input-checkbox {
              display: flex;
              align-items: center;
              justify-content: center;

              .custom-checkbox {
                + label {
                  padding: 0 0 0 16px;
                  &::before {
                    background: url(../img/ico_check_off_total.svg) no-repeat;
                  }
                }
                &:checked {
                  + label {
                    &::before {
                      background: url(../img/ico_check_on.svg) no-repeat;
                      background-color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
        tbody {
          display: block;
          max-height: 500px;
          overflow-y: auto;
          tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            td {
              color: #666;
              height: 32px;
              font-size: 14px;
              letter-spacing: -0.28px;
              text-align: center;
              .input-checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                .custom-checkbox + label {
                  padding: 0 0 0 16px;
                }
              }
              &.left {
                text-align: left;
              }
              &.attachment {
                div {
                  width: 250px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
            &:hover {
              td {
                background: #FAFAFA;
              }
            }
            &.checked {
              td {
                color: #544FE4;
                font-weight: 600;
                background: #FAFAFA;
              }
            }
          }
        }
        th,td {
          &:first-child {
            width: 40px;
          }
          &.subject {
            width: 472px;
          }
          &.date {
            width: 172px;
          }
          &.views {
            width: 140px;
          }
        }
      }
    }
  }
}


.custom-checkbox {
  display: none;
  + label {
    display: inline-block;
    position: relative;
    height: 16px;
    cursor: pointer;
    user-select: none;
    padding: 0 0 0 22px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      background: url(../img/ico_check_off.svg) no-repeat;
    }
  }
  &:checked {
    + label {
      &::before {
        background: url(../img/ico_check_on.svg) no-repeat;
        background-color: #fff;
      }
    }
  }
}
.custom-radio {
  display: none;
  + label {
    display: inline-block;
    position: relative;
    height: 20px;
    cursor: pointer;
    user-select: none;
    padding: 0 0 0 22px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 20px;
      height: 20px;
      background: url(../img/ico_radio_off.svg) no-repeat;
    }
  }
  &:checked {
    + label {
      &::before {
        background: url(../img/ico_radio_on.svg) no-repeat;
        background-color: #fff;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 48px 0 0;
  &__list {
    display: flex;
    gap: 4px;
  }
  &__item {
    &.active {
      a {
        border: 1px solid #ccc;
        border-radius: 8px;
        color: #202224;
        font-weight: 600;
      }
    }
  }
  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: -0.28px;
    &.pagination__firstprev {
      background: url(../img/ico_firstprev.svg) no-repeat center;
    }
    &.pagination__prev {
      background: url(../img/ico_prev.svg) no-repeat center;
    }
    &.pagination__next {
      background: url(../img/ico_next.svg) no-repeat center;
    }
    &.pagination__lastnext {
      background: url(../img/ico_lastnext.svg) no-repeat center;
    }
  }
}

.modal {
  position: fixed;
  top: 48px;
  right: -600px;
  width: 560px;
  min-height: 875px;
  height: calc(100% - 48px);
  border: 1px solid #EBEBEB;
  background: #fff;
  border-radius: 40px 0 0 40px;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 37px 24px 44px;

  &--visible {
    right: 0;
  }

  .btn-topclose {
    position: absolute;
    right: 32px;
    top: 36px;
    width: 20px;
    height: 20px;
    background: url(../img/ico_close.svg) no-repeat center;
  }

  &__header {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 35px;
    padding: 0 0 0 16px;
    .modal__title {
      color: #202224;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.32px
    }
    .modal__subtitle {
      position: relative;
      color: #999;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: -1px;
      padding: 0 0 0 12px;
      &::before {
        content: "*";
        position:absolute;
        left: 0;
        top: -1px;
        color: #544FE4;
        font-size: 16px;
        font-weight: 300;
      }
      &.no-ico {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
    }
  }

  &__info-list {
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    margin-bottom: 28px ;
    .info-list {
      &__item {
        display: flex;
        width: 100%;
        min-height: 32px;
        .info-list__label {
          display: flex;
          align-items: center;
          width: 120px;
          color: #202224;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: -0.24px;
          background: #FAFAFA;
          border-top: 1px solid #EBEBEB;
          border-right: 1px solid #EBEBEB;
          padding: 0 16px;
          input[type="text"] {
            padding: 0;
            background: transparent;
            font-size: 12px;
            border: 0;
            font-weight: 500;
          }
        }
        .info-list__value {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #EBEBEB;
          width: 100%;
          padding: 0;
          .form-filter__field {
            width: 100%;
            flex: 1;
            input[type="text"] {
              width: 100%;
              border: 0;
              color: #666;
              font-size: 14px;
              &::placeholder {
                color: #666;
                font-size: 14px;
              }
            }
            &.datepicker {
              input {
                width: 100%;
                border: 0 none;
              }
            }
          }
          .select-box {
            width: 100%;
            &__selected {
              border: 0 none;
              color: #666;
            }
          }
          a {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #666;
            font-size: 14px;
            &::after {
              content: "";
              position: absolute;
              right: 0;
              top: 6px;
              width:20px;
              height: 20px;
            }
            &.datepicker-link {
              &::after {
                background: url(../img/ico_datepicker.svg) no-repeat center;
              }
            }
            &.text-link {
              &::after {
                background: url(../img/ico_arrow_down.svg) no-repeat center;
              }
            }
          }
        }
        &:first-child {
          .info-list__label,.info-list__value {
            border-top: 0
          }
        }
        .input-checkbox {
          width: 75px;
          label {
            padding: 0 0 0 21px;
            height: 20px;
            background-position: left 2px;
          }
        }
      }
    }
  }

  .modal__requests {
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    overflow: hidden;
    .requests__item {
      .requests__label {
        display: flex;
        height: 32px;
        align-items: center;
        justify-content: center;
        background: #FAFAFA;
        color: #202224;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.24px;
      }
      .requests__textarea-wrapper {
        border-top: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
        textarea {
          border: 0 none;
          border-radius: 0;
          &::placeholder {
            color: #999;
            line-height: 140%;
          }
        }
      }
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    display: flex;
    gap: 8px;
    bottom: 44px;
    padding: 0 24px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;;
      height: 36px;
      border-radius: 10px;
      border: 1px solid #EBEBEB;
      background: #fff;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.28px;
      &:nth-child(2) {
        width: 383px;
        background: rgba(84, 79, 228, 0.04);
        color: #544FE4;
        font-weight: 700;
      }
    }
    .modal-open-btn {
      flex: 1;
      width: 121px;
      color: #666;
    }
  }
}

.flatpickr-calendar {
  width: 240px !important;

  &::before,&::after {
    display: none !important;
  }
  &.open {
    padding: 0 0 15px;
    margin-top: -2px;
    border-radius: 0 0 12px 12px;
  }
  .dayContainer {
    width: 240px;
    min-width: 240px;
    gap: 11px;
    padding: 0 6px;
  }
  .flatpickr-month {
    display: flex;
  }
  .flatpickr-current-month {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    width: 50%;
    left: 74px;
  }
  .flatpickr-monthDropdown-months {
    order: 2;
  }
  .numInputWrapper {
    order: 1;
  }
  .flatpickr-day {
    max-width: 20px;
    height: 20px;
    line-height: 19px;
    font-size: 10px;
  }
  .flatpickr-rContainer {
    width: 240px;
  }

  .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    padding: 9px 5px;
  }
  .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month, .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    left: 27px;
  }
  .flatpickr-months .flatpickr-prev-month.flatpickr-next-month, .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 27px;
  }
  .flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
    width: 10px;
    height: 10px;
  }

  .flatpickr-year-buttons {
    .prev {
      position: absolute;
      left: 8px;
      top: 11px;
      background: url(../img/ico_firstprev.svg) no-repeat;
    }
    .next {
      position: absolute;
      right: -3px;
      top: 11px;
      background: url(../img/ico_lastnext.svg) no-repeat;
    }
  }
  .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: #544FE4;
    border-color: #544FE4;
  }
  .flatpickr-custom-buttons {
    padding: 6px 13px 0;
    button {
      padding: 3px;
      font-size: 10px;
      font-weight: 500;
      &.save {
        color: #544FE4;
        font-weight: 600;
      }
    }
  }
}

.terms {
  position: relative;
  &__item {
    margin-top: 23px;
    .terms__label {
      color: #757575;
      font-size: 14px;
      letter-spacing: -0.28px;
    }
    .terms__tag {
      color: #544FE4;
      font-size:14px;
      font-weight: 500;
      letter-spacing: -0.28px;
    }
    &--all {
      .terms__label {
        color: #333;
        font-weight: 500;
      }
    }
  }
  button {
    position: absolute;
    right: 40px;
    bottom: 0;
  }
}

.address-table {
  border-radius: 8px;
  border: 1px solid #EBEBEB;
  .address-table__inner {
    th,td {
      height: 44px;
    }
    thead {
      display: table;
      width: 100%;
      table-layout: fixed;
      th {
        background: #FAFAFA;
        color: #202224;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.24px;
        &:nth-child(1) {
          width: 40px;
        }
        &:nth-child(2) {
          width: 360px;
        }
        &:nth-child(3) {
          width: 110px;
        }
      }
    }
    tbody {
      display: block;
      max-height: 620px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
        border-left: 1px solid #EBEBEB;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
        margin-right: 4px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #a6a6a6;
      }
      td {
        padding: 0 16px;
        color: #666;
        font-weight: 400;
        letter-spacing: -0.24px;

        &:nth-child(1) {
          width: 40px;
        }
        &:nth-child(2) {
          width: 360px;
        }
        &:nth-child(3) {
          width: 110px;
          padding: 0 16px 0 28px;
        }
      }
    }
  }
}